.tb{
  vertical-align: super;
  color: yellowgreen !important;
  font-family: 'Puritan', sans-serif;
  font-size: 14px;
  
}
.pill-single{
  padding-left: 2%;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 4px;
}
.section-header{
  font-size: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.pill-single a{
  color: #3b4453;
}
.pill-single a:hover{
  color: rgb(2, 182, 11);
}