<!DOCTYPE html>
<html lang="en">

<head>
  <% var page = "About Us"%>
  <% include ../partials/header/head.ejs %>
</head>

<body>

  <!-- Header -->
  <% include ../partials/header/nav.ejs %>
  <!-- /Header -->

  <!-- Hero-area -->
  <div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/blog-post-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li><a href="/">Home</a></li>
            <li>About Us</li>
          </ul>
          <h1 class="white-text">About Us</h1>
          <ul class="blog-post-meta">
            <!-- <li class="blog-meta-author">By : <a href="#">John Doe</a></li>
						<li>18 Oct, 2017</li>
						<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /Hero-area -->

  <!-- Blog -->
  <div id="blog" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- main blog -->
        <div id="main" class="col-md-9">

          <!-- blog post -->
          <div class="blog-post">
            <p>The promulgation of Employees' State Insurance Act, 1948(ESI Act), by the Parliament was the first major
              legislation on social Security for workers in independent India. It was a time when the industry was
              still in a nascent stage and the country was heavily dependent on an assortment of imported goods from
              the developed or fast developing countries. The deployment of manpower in manufacturing processes was
              limited to a few select industries such as jute, textile, chemicals etc. The legislation on creation and
              development of a fool proof multi-dimensional Social Security system, when the country's economy was in a
              very fledgling state was obviously a remarkable gesture towards the socio economic amelioration of a
              workface though limited in number and geographic distribution. India, notwithstanding, thus, took the
              lead in providing organized social protection to the working class through statutory provisions.
            </p>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
            <p>The ESI Act 1948, encompasses certain health related eventualities that the workers are generally
              exposed to; such as sickness, maternity, temporary or permanent disablement, Occupational disease or
              death due to employment injury, resulting in loss of wages or earning capacity-total or partial. Social
              security provision made in the Act to counterbalance or negate the resulting physical or financial
              distress in such contingencies, are thus, aimed at upholding human dignity in times of crises through
              protection from deprivation, destitution and social degradation while enabling the society the retention
              and continuity of a socially useful and productive manpower.
            </p>
            <p>
              The scheme was inaugurated in Kanpur on 24th February 1952 (ESIC Day) by then Prime Minister Pandit
              Jawahar Lal Nehru. The venue was the Brijender Swarup Park, Kanpur and Panditji addressed a 70,000 strong
              gathering in Hindi in the presence of Pt.Gobind Ballabh Pant, Chief Minister Uttar Pradesh; Babu Jagjivan
              Ram, Union Labour Minister; Raj Kumari Amrit Kaur, Union Health Minister; Sh.Chandrabhan Gupt, Union Food
              Minister and Dr.C.L.Katial, the first Director General of ESIC.</p>

            <p>The scheme was simultaneously launched at Delhi as well and the initial coverage for both the centres
              was 1,20,000 employees. Our first prime Minister was the first honorary insured person of the Scheme and
              the declaration form bearing his signature is a prized possession of the Corporation.
            </p>
            <p>It is important to mention here that it blossomed as the first social security scheme in 1944, when the
              Govt. of the day was still British.The first document on social insurance was "Report on Health
              Insurance" submitted to the Tripartite Labour Conference, headed by Prof. B.P.Adarkar, an eminent scholar
              and visionary. The Report was acclaimed as a worthy document and forerunner of the social security scheme
              in India and Prof. Adarkar was acknowledged as "Chhota Beveridge" by none other than Sardar Vallabhbhai
              Patel. Sir, William Beveridge, as all know, was one of the high priests of social insurance. The report
              was accepted and Prof. Adarkar continued to be actively associated with it till 1946. On his
              disassociation he strongly advocated management of the Scheme by an expert from ILO. In 1948 Dr.
              C.L.Katial, an eminent Indian doctor from London took over as the 1st Director General of ESIC and he
              steered the affairs of the fledgling Scheme till 1953.</p>

            <p>Since the red letter day of 24th February in the annals of social security in India , there has been no
              looking back. A lighted lamp which is the logo of ESIC truly symbolises the spirit of the Scheme,
              lighting up lives of innumerable families of workers by replacing despair with hope and providing help in
              times of distress, both physical and financial.</p>

            <p>During the 63 years of its existence, ESIC has grown from strength to strength and the Corporation owes
              it, most of all, to the commitment, dedication and perseverance of persons like Prof. Adarkar and Dr.
              Katial.</p>
            <p>An aeterno percipit per. His minim maiestatis consetetur et, brute tantas iracundia id sea. Vim tota
              nostrum
              reformidans te. Nam ad appareat mediocritatem, mediocrem similique usu ex, scaevola invidunt eu sed.</p>
            <p>Reque admodum praesent ei nec. Ad eius phaedrum conclusionemque cum, pri cu suas essent saperet. No vero
              ludus
              habemus qui. Per ex errem torquatos, eam in tale sumo mentitum. Cum nulla viderer no. Pri id antiopam
              volutpat
              evertitur, in vidit interpretaris nec.</p>
            <p>Te option apeirian corrumpit nec, has et tollit minimum molestie. Nam et justo everti, tale repudiandae
              cu
              nec. Aliquip legendos evertitur ne sit, mazim sadipscing sea ei. Sea no facete probatus vulputate, ex pri
              reque
              tempor. Odio adolescens ius te, docendi suscipit indoctum at qui.</p>

            <p>An aeterno percipit per. His minim maiestatis consetetur et, brute tantas iracundia id sea. Vim tota
              nostrum
              reformidans te. Nam ad appareat mediocritatem, mediocrem similique usu ex, scaevola invidunt eu sed.</p>
            <p>Reque admodum praesent ei nec. Ad eius phaedrum conclusionemque cum, pri cu suas essent saperet. No vero
              ludus
              habemus qui. Per ex errem torquatos, eam in tale sumo mentitum. Cum nulla viderer no. Pri id antiopam
              volutpat
              evertitur, in vidit interpretaris nec.</p>
            <p>Te option apeirian corrumpit nec, has et tollit minimum molestie. Nam et justo everti, tale repudiandae
              cu
              nec. Aliquip legendos evertitur ne sit, mazim sadipscing sea ei. Sea no facete probatus vulputate, ex pri
              reque
              tempor. Odio adolescens ius te, docendi suscipit indoctum at qui.</p>
          </div>
          <!-- /blog post -->

          <!-- blog share -->
          <div class="blog-share">
            <h4>Share This Post:</h4>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          </div>
          <!-- /blog share -->

          <!-- blog comments -->
          <!-- <div class="blog-comments">
						<h3>5 Comments</h3> -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div> -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- </div> -->
          <!-- /single comment -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div>
						</div> -->
          <!-- /single comment -->

          <!-- blog reply form -->
          <!-- <div class="blog-reply-form">
							<h3>Leave Comment</h3>
							<form>
								<input class="input name-input" type="text" name="name" placeholder="Name">
								<input class="input email-input" type="email" name="email" placeholder="Email">
								<textarea class="input" name="message" placeholder="Enter your Message"></textarea>
								<button class="main-button icon-button">Submit</button>
							</form>
						</div> -->
          <!-- /blog reply form -->

          <!-- </div> -->
          <!-- /blog comments -->
        </div>
        <!-- /main blog -->

        <!-- aside blog -->
        <div id="aside" class="col-md-3">

          <!-- search widget -->
          <div class="widget search-widget">
            <form>
              <input class="input" type="text" name="search">
              <button><i class="fa fa-search"></i></button>
            </form>
          </div>
          <!-- /search widget -->

          <!-- category widget -->
          <div class="widget category-widget">
            <h3>Categories</h3><a class="category" href="/administration">Administration </a>
            <a class="category" href="/faculty">Faculty </a>
            <a class="category" href="/commities">Commities </a>
            <a class="category" href="/awards">Awards and Honors </a>
            <a class="category" href="/media">Press Media </a>
            <a class="category" href="/approval">University and Govt. Approval </a>
            <a class="category" href="/infrastructure">Infrastructure </a>

          </div>
          <!-- /category widget -->

          <!-- posts widget -->
          <div class="widget posts-widget">
            <!-- <h3>Recents Posts</h3> -->

            <!-- single posts -->
            <!-- <div class="single-post">
              <a class="single-post-img" href="blog-post.html">
                <img src="./img/post01.jpg" alt="">
              </a>
              <a href="blog-post.html">Pro eu error molestie deserunt.</a>
              <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div> -->
            <!-- /single posts -->

            <!-- single posts -->
            <!-- <div class="single-post">
              <a class="single-post-img" href="blog-post.html">
                <img src="./img/post02.jpg" alt="">
              </a>
              <a href="blog-post.html">Pro eu error molestie deserunt.</a>
              <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div> -->
            <!-- /single posts -->

            <!-- single posts -->
            <!-- <div class="single-post">
              <a class="single-post-img" href="blog-post.html">
                <img src="./img/post03.jpg" alt="">
              </a>
              <a href="blog-post.html">Pro eu error molestie deserunt.</a>
              <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div> -->
            <!-- /single posts -->

          </div>
          <!-- /posts widget -->

          <!-- tags widget -->
          <div class="widget tags-widget">
            <h3>Tags</h3>
            <a class="tag" href="/administration">Administration </a>
            <a class="tag" href="/faculty">Faculty </a>
            <a class="tag" href="/commities">Commities </a>
            <a class="tag" href="/awards">Awards and Honors </a>
            <a class="tag" href="/media">Press Media </a>
            <a class="tag" href="/approval">University and Govt. Approval </a>
            <a class="tag" href="/infrastructure">Infrastructure </a>
          </div>
          <!-- /tags widget -->

        </div>
        <!-- /aside blog -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>
  <!-- /Blog -->

  <!-- Footer -->
  <% include ../partials/footer/footer.ejs %>
</body>

</html>