
<!DOCTYPE html>
<html>
<head>
  <% var page = "About"%>
<<<<<<< HEAD
  <% include ../partials/header/head %>
</head>
<body>
  <% include ../partials/header/nav %>
=======
  <% include ../partials/header/head.ejs %>
</head>
<body>
  <% include ../partials/header/nav.ejs %>
>>>>>>> 9f9535738f9b1e225bc9ce545a3d2b13ae8108ec

  </html><section class="course-area padding-top" id="courses">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
          <div class="area-title text-center wow fadeIn">
            <h2 class="xs-font26">Esic Gallery</h2>
          </div>
        </div>
      </div>
      <div class="row course-list">
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="single-course mb20">
            <img src="/img/administration/Dr Srinivas M.jpg" alt="">
            <div class="course-details padding30">
              <h3 class="font18">Image topic 1</h3>
              <p>MPs who are leaving the protection of for the campaign trail will render...</p>
              <!-- <p class="mt30"><a href="#" class="enroll-button">Enroll the Courses</a> <span class="course-price">$29.99</span></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="single-course mb20">
            <img src="/img/administration/Dr Kalyan Kumar Pal.jpg" alt="">
            <div class="course-details padding30">
              <h3 class="font18">Image topic 2</h3>
              <p>MPs who are leaving the protection of for the campaign trail will render...</p>
              <!-- <p class="mt30"><a href="#" class="enroll-button">Enroll the Courses</a> <span class="course-price">$29.99</span></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="single-course mb20">
            <img src="/img/administration/Dr N Chakravarthy.jpg" alt="">
            <div class="course-details padding30">
              <h3 class="font18">Image topic 3</h3>
              <p>MPs who are leaving the protection of for the campaign trail will render...</p>
              <!-- <p class="mt30"><a href="#" class="enroll-button">Enroll the Courses</a> <span class="course-price">$29.99</span></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="single-course mb20">
            <img src="/img/administration/T E Venkateshan.jpg" alt="">
            <div class="course-details padding30">
              <h3 class="font18">Image topic 4</h3>
              <p>MPs who are leaving the protection of for the campaign trail will render...</p>
              <!-- <p class="mt30"><a href="#" class="enroll-button">Enroll the Courses</a> <span class="course-price">$29.99</span></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<<<<<<< HEAD
  <% include ../partials/footer/footer %>
=======
  <% include ../partials/footer/footer.ejs %>
>>>>>>> 9f9535738f9b1e225bc9ce545a3d2b13ae8108ec
</body>
