<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>HTML Education Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<!-- Header -->
	<header id="header" class="transparent-nav">
		<div class="container">

			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a class="logo" href="index.html">
						<img src="./img/logo/web.png" alt="logo"> ESIC
					</a>
				</div>
				<!-- /Logo -->

				<!-- Mobile toggle -->
				<button class="navbar-toggle">
					<span></span>
				</button>
				<!-- /Mobile toggle -->
			</div>

			<!-- Navigation -->
			<nav id="nav">
				<ul class="main-menu nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/hospital">Services</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="#">Research</a></li>
					<li><a href="#">Public Forum</a></li>
					<li><a href="/contact">Contact</a></li>
					<!-- <li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li> -->
				</ul>
			</nav>
			<!-- /Navigation -->

		</div>
	</header>
	<!-- /Header -->

	<!-- Home -->
	<div id="home" class="hero-area">

		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(./img/home-background.jpg)"></div>
		<!-- /Backgound Image -->

		<div class="home-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1 class="white-text">Always ESIC because Life matters</h1><br>
						<!-- <p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error
							homero.</p> -->
						<a class="main-button icon-button" href="#about-us">About Us!</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /Home -->

	<!-- About -->
	<div id="about" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<div class="row">

					<div class="col-md-6">
						<h3>Dean's message</h3>
						<p class="lead">Education is the foundation upon which we build our future.</p>
						<p>No vel facete sententiae, quodsi dolores no quo, pri ex tamquam interesset necessitatibus. Te denique
							cotidieque delicatissimi sed. Eu doming epicurei duo. Sit ea perfecto deseruisse theophrastus. At sed malis
							hendrerit, elitr deseruisse in sit, sit ei facilisi mediocrem.</p>
					</div>

					<div class="col-md-5 col-md-offset-1">
						<a class="about-video" href="#">
							<img src="./img/about-video.jpg" alt="">
							<i class="play-icon fa fa-play"></i>
						</a>
					</div>

				</div>


				<!-- <div class="col-md-6">
					<div class="section-header">
						<h2>Welcome to Esic</h2>
						<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
					</div>

				
					<div class="feature">
						<i class="feature-icon fa fa-flask"></i>
						<div class="feature-content">
							<h4>Online Courses </h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div>
					

					<div class="feature">
						<i class="feature-icon fa fa-users"></i>
						<div class="feature-content">
							<h4>Expert Teachers</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div>
					


					<div class="feature">
						<i class="feature-icon fa fa-comments"></i>
						<div class="feature-content">
							<h4>Community</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div>
					

				</div> -->

				<!-- <div class="col-md-6">
					<div class="about-img">
						<img src="./img/about.png" alt="">
					</div>
				</div> -->

				<div class="col-md-12">
					<div class="section-header" id="about-us">
						<br><br><br><br>
						<h2>About Us</h2>
						<p class="lead">Bacon ipsum dolor amet pork chop pork belly spare ribs strip steak tri-tip ball tip. Porchetta
							venison ribeye, cow shoulder ham hock jerky. Porchetta pork chop tenderloin venison, tail pastrami kielbasa
							leberkas cupim ribeye drumstick. Flank swine alcatra prosciutto corned beef salami burgdoggen, biltong beef ball
							tip doner shankle. Buffalo alcatra bacon corned beef salami. Beef jowl cow, burgdoggen shank buffalo spare ribs
							pork chop.

							Hamburger turducken leberkas boudin fatback, pork loin shank tongue doner sirloin drumstick filet mignon pork
							cupim sausage. Jowl bacon short ribs, ribeye prosciutto beef pork chop shank tongue swine. Swine tri-tip
							turducken pig shankle t-bone. Landjaeger alcatra bresaola,</p>

					</div>

					<div class="center-btn">
						<a class="main-button icon-button" href="/about">About Us</a>
					</div>


					<!-- feature -->
					<!-- <div class="feature">
						<i class="feature-icon fa fa-flask"></i>
						<div class="feature-content">
							<h4>Online Courses </h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div> -->
					<!-- /feature -->

					<!-- feature -->
					<!-- <div class="feature">
						<i class="feature-icon fa fa-users"></i>
						<div class="feature-content">
							<h4>Expert Teachers</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div> -->
					<!-- /feature -->

					<!-- feature -->
					<!-- <div class="feature">
						<i class="feature-icon fa fa-comments"></i>
						<div class="feature-content">
							<h4>Community</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div> -->
					<!-- /feature -->

				</div>

				<!-- <div class="col-md-6">
					<div class="about-img">
						<img src="./img/about.png" alt="">
					</div>
				</div> -->

			</div>
			<!-- row -->

		</div>
		<!-- container -->
	</div>
	<!-- /About -->

	<!-- Courses -->
	<div id="courses" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">
				<div class="section-header text-center">
					<h2>Explore Our Gallery</h2>
					<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
				</div>
			</div>
			<!-- /row -->

			<!-- courses -->
			<div id="courses-wrapper">

				<!-- row -->
				<div class="row">

					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course01.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course02.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course03.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course04.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

				</div>
				<!-- /row -->

				<!-- row -->
				<div class="row">

					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course05.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course06.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course07.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->


					<!-- single course -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="course">
							<a href="#" class="course-img">
								<img src="./img/course08.jpg" alt="">
								<i class="course-link-icon fas fa-camera"></i>
							</a>
							<a class="course-title" href="#">Intro</a>
							<div class="course-details">
								<span class="course-category">Type</span>
								<span class="course-price course-free">Date</span>
							</div>
						</div>
					</div>
					<!-- /single course -->

				</div>
				<!-- /row -->

			</div>
			<!-- /courses -->

			<div class="row">
				<div class="center-btn">
					<a class="main-button icon-button" href="#">View More</a>
				</div>
			</div>

		</div>
		<!-- container -->

	</div>
	<!-- /Courses -->

	<!-- Call To Action -->
	<div id="cta" class="section">

		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta1-background.jpg)"></div>
		<!-- /Backgound Image -->

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<div class="col-md-6">
					<h2 class="white-text">Ceteros fuisset mei no, soleat epicurei adipiscing ne vis.</h2>
					<p class="lead white-text">Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
					<a class="main-button icon-button" href="#">Get Started!</a>
				</div>

			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</div>
	<!-- /Call To Action -->

	<!-- Why us -->
	<div id="why-us" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">
				<div class="section-header text-center">
					<h2>Why Edusite</h2>
					<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
				</div>

				<!-- feature -->
				<div class="col-md-4">
					<div class="feature">
						<i class="feature-icon fa fa-flask"></i>
						<div class="feature-content">
							<h4>Online Courses</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="col-md-4">
					<div class="feature">
						<i class="feature-icon fa fa-users"></i>
						<div class="feature-content">
							<h4>Expert Teachers</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="col-md-4">
					<div class="feature">
						<i class="feature-icon fa fa-comments"></i>
						<div class="feature-content">
							<h4>Community</h4>
							<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						</div>
					</div>
				</div>
				<!-- /feature -->

			</div>
			<!-- /row -->

			<hr class="section-hr">

			<!-- row -->

			<!-- /row -->

		</div>
		<!-- /container -->

	</div>
	<!-- /Why us -->

	<!-- Contact CTA -->
	<div id="contact-cta" class="section">

		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta2-background.jpg)"></div>
		<!-- Backgound Image -->

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="white-text">Contact Us</h2>
					<p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
					<a class="main-button icon-button" href="#">Contact Us Now</a>
				</div>

			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</div>
	<!-- /Contact CTA -->

	<!-- Footer -->
	<footer id="footer" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<!-- footer logo -->
				<div class="col-md-6">
					<div class="footer-logo">
						<a class="logo" href="index.html">
							<img src="./img/logo/web.png" alt="ESIC">ESIC
						</a>
					</div>
				</div>
				<!-- footer logo -->

				<!-- footer nav -->
				<div class="col-md-6">
					<ul class="footer-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="/education">Education</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Public Forum</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<!-- /footer nav -->

			</div>
			<!-- /row -->

			<!-- row -->
			<div id="bottom-footer" class="row">

				<!-- social -->
				<div class="col-md-4 col-md-push-8">
					<ul class="footer-social">
						<li><a href="#" class="facebook"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a></li>
						<li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" class="youtube"><i class="fab fa-youtube"></i></a></li>
						<li><a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- /social -->

				<!-- copyright -->
				<div class="col-md-8 col-md-pull-4">
					<div class="footer-copyright">
						<span>&copy; Copyright 2018. All Rights Reserved. | <a href="/">ESIC</a></span>
					</div>
				</div>
				<!-- /copyright -->

			</div>
			<!-- row -->

		</div>
		<!-- /container -->

	</footer>
	<!-- /Footer -->

	<!-- preloader -->
	<div id='preloader'>
		<div class='preloader'></div>
	</div>
	<!-- /preloader -->


	<!-- jQuery Plugins -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>

</html>