<header id="header">
  <div class="container">

    <div class="navbar-header">
      <!-- Logo -->
      <div class="navbar-brand">
        <a class="logo" href="/">
          <img src="./img/logo/web.png" alt="ESIC">ESIC
        </a>
      </div>
      <!-- /Logo -->

      <!-- Mobile toggle -->
      <button class="navbar-toggle">
        <span></span>
      </button>
      <!-- /Mobile toggle -->
    </div>

    <!-- Navigation -->
    <nav id="nav">
      <ul class="main-menu nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/hospital">Services</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Public Forum</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <!-- /Navigation -->

  </div>
</header>