<!--- PRELOADER -->
<div class="preeloader">
  <div class="preloader-spinner"></div>
</div>

<!--SCROLL TO TOP-->
<a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

<header class="top-area" id="home">
  
  <div class="header-top-area" id="scroolup">
    <!--MAINMENU AREA-->
    <div class="mainmenu-area" id="mainmenu-area">
      <div class="mainmenu-area-bg"></div>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a href="#home" class="navbar-brand" value="ESIC">
              <img src="/img/logo/res/mipmap-mdpi/logo.png" alt="logo">
              <!-- ESIC -->
            </a>
          </div>
          <div id="main-nav" class="stellarnav">
            <ul id="nav" class="nav navbar-nav pull-right">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="/faculty">Education</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Public Forum</a></li>
              <!-- <li><a href="#blog">Blog</a></li>
                              <li><a href="#faqs">Faqs</a></li> -->
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!--END MAINMENU AREA END-->
  </div>

  <!--WELCOME SLIDER AREA-->
  <div class="welcome-slider-area white font16">
    <div class="welcome-single-slide">
      <div class="slide-bg-one slide-bg-overlay"></div>
      <div class="welcome-area">
        <div class="container">
          <div class="row flex-v-center">
            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
              <div class="welcome-text">
                <h1> Always ESIC, Because Your Life Matters.</h1>
                <!-- <p>Was certainty remaining engrossed applauded sir how discovery. Settled opinion
                  how enjoyed greater joy adapted too shy. Now properly surprise expenses.</p> -->
                <div class="home-button">
                  <!-- <form action="#">
                                          <input type="search" name="search" id="search" placeholder="Search Courses">
                                          <button type="submit"><i class="fa fa-search"></i></button>
                                      </form> -->
                  <a class="main-button icon-button" href="#">About Us!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-single-slide">
      <div class="slide-bg-two slide-bg-overlay"></div>
      <div class="welcome-area">
        <div class="container">
          <div class="row flex-v-center">
            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
              <div class="welcome-text">
                <h1> Always Esic, Because Your Life Matters.</h1>
                <!-- <p>Was certainty remaining engrossed applauded sir how discovery. Settled opinion
                  how enjoyed greater joy adapted too shy. Now properly surprise expenses.</p> -->
                <div class="home-button">
                  <!-- <form action="#">
                                          <input type="search" name="search" id="search" placeholder="Search Courses">
                                          <button type="submit"><i class="fa fa-search"></i></button>
                                      </form> -->
                  <a class="main-button icon-button" href="#">About Us!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-single-slide">
      <div class="slide-bg-three slide-bg-overlay"></div>
      <div class="welcome-area">
        <div class="container">
          <div class="row flex-v-center">
            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
              <div class="welcome-text">
                <h1> Always Esic, Because Your Life Matters.</h1>
                <!-- <p>Was certainty remaining engrossed applauded sir how discovery. Settled opinion
                  how enjoyed greater joy adapted too shy. Now properly surprise expenses.</p> -->
                <div class="home-button">
                  <!-- <form action="#">
                                          <input type="search" name="search" id="search" placeholder="Search Courses">
                                          <button type="submit"><i class="fa fa-search"></i></button>
                                      </form> -->
                  <a class="main-button icon-button" href="#">About Us!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--WELCOME SLIDER AREA END-->
</header>
